# Visual Studio
.vs/
*.user
*.suo

# .NET
**/bin/
**/obj/

# React
node_modules/
dist/

# Logs
*.log

# Publish
publish/

# Environment
.env
.env.*
# IDE
.idea/
android/.idea/

android/app/*.jks
android/app/*.keystore
android/keystore.properties